:root {
  background: white;
}

html {
  max-width: 720px;

  background:blue;
}

body {
  background: #fff;
}

* {
  color: black;
}

h1 {
  color: green;
}

.box {
  background: #dedada
}

#user {
  color: blue;
}

h1,
h2,
button {
  color:green;
}